PORT=3077
DATABASE_PATH=./data/campstore.sqlite
GOOGLE_SPREADSHEET_ID=
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
ALLOW_OVER_BALANCE=false
CLERK_NAME=
